In [1]:
import pandas as pd

In [43]:
data = pd.read_csv("statement/compas.csv")
data

,case_number,first_name,last_name,sex,age,age_category,race,juvenile_felony_count,juvenile_misdemeanors_count,juvenile_other_count,...,charge_degree,offense_date,screening_date,jail_in,jail_out,type_of_assessment,score,score_text,is_recidivist,prediction
0,13011352CF10A,miguel,hernandez,Male,69,Greater than 45,Other,0,0,0,...,F,8/13/2013,8/14/2013,8/13/2013 6:03,8/14/2013 5:41,Risk of Recidivism,1,Low,0,0
1,13001275CF10A,kevon,dixon,Male,34,25 - 45,African-American,0,0,0,...,F,1/26/2013,1/27/2013,1/26/2013 3:45,2/5/2013 5:36,Risk of Recidivism,3,Low,1,0
2,13005330CF10A,ed,philo,Male,24,Less than 25,African-American,0,0,1,...,F,4/13/2013,4/14/2013,4/13/2013 4:58,4/14/2013 7:02,Risk of Recidivism,4,Low,1,0
3,13022355MM10A,marsha,miles,Male,44,25 - 45,Other,0,0,0,...,M,11/30/2013,11/30/2013,11/30/2013 4:50,12/1/2013 12:28,Risk of Recidivism,1,Low,0,0
4,14002304CF10A,edward,riddle,Male,41,25 - 45,Caucasian,0,0,0,...,F,2/18/2014,2/19/2014,2/18/2014 5:08,2/24/2014 12:18,Risk of Recidivism,6,Medium,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8845,14003651MM10A,carlos,vasquez,Male,44,25 - 45,Hispanic,0,0,0,...,M,3/3/2014,3/4/2014,3/3/2014 9:42,3/4/2014 9:23,Risk of Recidivism,1,Low,0,0
8846,13003941MM10A,rodrick,phillips,Male,63,Greater than 45,African-American,0,0,0,...,M,2/25/2013,2/27/2013,2/25/2013 9:20,2/26/2013 1:21,Risk of Recidivism,1,Low,1,0
8847,13013317CF10A,patrick,hamilton,Male,47,Greater than 45,Other,0,0,0,...,F,9/21/2013,9/22/2013,9/21/2013 4:06,9/22/2013 8:16,Risk of Recidivism,3,Low,0,0
8848,13009569MM10A,raymond,hernandez,Male,22,Less than 25,Caucasian,0,3,5,...,M,5/16/2013,5/17/2013,5/16/2013 8:58,5/18/2013 7:59,Risk of Recidivism,7,Medium,1,1
8849,14000455CF10A,chin,yan,Male,34,25 - 45,Asian,0,0,0,...,F,1/10/2014,1/11/2014,1/10/2014 6:49,1/11/2014 1:45,Risk of Recidivism,1,Low,0,0

In [33]:
crits = ['charge_description',
         'priors_count',
         'age',
         'sex',
         'charge_degree',
         'juvenile_felony_count',
         'juvenile_misdemeanors_count',
         'juvenile_other_count',
         'offense_date',
         'screening_date']
sub_data = data[crits]

In [38]:
dup = sub_data.duplicated(keep=False)
dup_data = sub_data[dup]
dup_data

,charge_description,priors_count,age,sex,charge_degree,juvenile_felony_count,juvenile_misdemeanors_count,juvenile_other_count,offense_date,screening_date
32,Battery,0,63,Male,M,0,0,0,12/6/2014,12/7/2014
374,Grand Theft in the 3rd Degree,0,20,Male,F,0,0,0,1/10/2014,1/11/2014
375,Felony Battery (Dom Strang),0,24,Male,F,0,0,0,12/15/2014,12/16/2014
377,Grand Theft in the 3rd Degree,0,22,Female,F,0,0,0,5/1/2014,5/2/2014
507,Battery,1,30,Male,M,0,0,0,3/18/2013,3/19/2013
1206,Battery,0,21,Female,M,0,0,0,12/26/2013,12/27/2013
1379,Battery,0,27,Male,M,0,0,0,11/4/2014,11/5/2014
1460,Battery,0,44,Male,M,0,0,0,11/1/2014,11/2/2014
1539,Battery,0,45,Male,M,0,0,0,3/11/2014,3/12/2014
1737,Grand Theft in the 3rd Degree,0,22,Female,F,0,0,0,5/1/2014,5/2/2014
2016,Battery,0,63,Male,M,0,0,0,12/6/2014,12/7/2014
2702,Battery,0,40,Male,M,0,0,0,10/25/2014,10/26/2014
2704,Battery,0,44,Male,M,0,0,0,6/16/2014,6/17/2014
3212,Grand Theft in the 3rd Degree,0,21,Male,F,0,0,0,7/12/2013,7/15/2013
3366,Battery,0,40,Male,M,0,0,0,10/25/2014,10/26/2014
3507,Grand Theft in the 3rd Degree,0,21,Male,F,0,0,0,7/12/2013,7/15/2013
3519,Battery,0,21,Female,M,0,0,0,12/26/2013,12/27/2013
4298,Battery,1,35,Male,M,0,0,0,12/16/2014,12/17/2014
4300,Battery,0,44,Male,M,0,0,0,6/16/2014,6/17/2014
4442,Battery,0,27,Male,M,0,0,0,11/4/2014,11/5/2014
4928,Battery,0,44,Male,M,0,0,0,11/1/2014,11/2/2014
5969,Grand Theft (Motor Vehicle),0,21,Male,F,0,0,0,7/22/2014,7/23/2014
6009,Battery,0,33,Male,M,0,0,0,3/11/2013,3/12/2013
6038,Grand Theft (Motor Vehicle),0,21,Male,F,0,0,0,7/22/2014,7/23/2014
6406,Battery,1,30,Male,M,0,0,0,3/18/2013,3/19/2013
6565,Battery,0,30,Male,M,0,0,0,3/30/2014,3/31/2014
6743,Battery,0,46,Male,M,0,0,0,12/30/2013,12/31/2013
6893,Grand Theft in the 3rd Degree,0,26,Male,F,0,0,0,8/25/2013,8/26/2013
6961,Battery,0,33,Male,M,0,0,0,3/11/2013,3/12/2013
7211,Felony Battery (Dom Strang),0,24,Male,F,0,0,0,12/15/2014,12/16/2014
7298,Grand Theft in the 3rd Degree,0,20,Male,F,0,0,0,1/10/2014,1/11/2014
7408,Battery,0,46,Male,M,0,0,0,12/30/2013,12/31/2013
7453,Grand Theft in the 3rd Degree,0,26,Male,F,0,0,0,8/25/2013,8/26/2013
7824,Battery,0,30,Male,M,0,0,0,3/30/2014,3/31/2014
7883,Battery,1,35,Male,M,0,0,0,12/16/2014,12/17/2014
7986,Battery,0,21,Female,M,0,0,0,12/26/2013,12/27/2013
8751,Battery,0,45,Male,M,0,0,0,3/11/2014,3/12/2014

In [39]:
def compare(i,j):
    l_i = dup_data.loc[i]
    l_j = dup_data.loc[j]
    for crit in crits:
        if l_i[crit]!= l_j[crit]:
            return False
        
    return True

In [44]:
for i in dup_data.index :
    print("------------------")
    print(dup_data.loc[i])
    print()
    for j in dup_data.index :
        if compare(i,j):
            print((data.loc[j])[['first_name','last_name','race','score']])
            print()

------------------
charge_description               Battery
priors_count                           0
age                                   63
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   12/6/2014
screening_date                 12/7/2014
Name: 32, dtype: object

first_name          barrington
last_name             figueroa
race          African-American
score                        1
Name: 32, dtype: object

first_name    terrence
last_name          hew
race             Other
score                1
Name: 2016, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       20
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       1/10/2014
screening_date                                     1/11/2014
Name: 374, dtype: object

first_name                iron
last_name               holder
race          African-American
score                        9
Name: 374, dtype: object

first_name             terrell
last_name               comete
race          African-American
score                        3
Name: 7298, dtype: object

------------------
charge_description             Felony Battery (Dom Strang)
priors_count                                             0
age                                                     24
sex                                                   Male
charge_degree                                            F
juvenile_felony_count                                    0
juvenile_misdemeanors_count                              0
juvenile_other_count                                     0
offense_date                                    12/15/2014
screening_date                                  12/16/2014
Name: 375, dtype: object

first_name    nigel
last_name     brown
race          Other
score             2
Name: 375, dtype: object

first_name    kavair
last_name     guyher
race           Other
score              2
Name: 7211, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       22
sex                                                   Female
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                        5/1/2014
screening_date                                      5/2/2014
Name: 377, dtype: object

first_name               diana
last_name              loubeau
race          African-American
score                        3
Name: 377, dtype: object

first_name            mirelene
last_name            cherfrere
race          African-American
score                        4
Name: 1737, dtype: object

------------------
charge_description               Battery
priors_count                           1
age                                   30
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/18/2013
screening_date                 3/19/2013
Name: 507, dtype: object

first_name             anthony
last_name                louis
race          African-American
score                        1
Name: 507, dtype: object

first_name             michael
last_name             mitchell
race          African-American
score                        2
Name: 6406, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    21
sex                                Female
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/26/2013
screening_date                 12/27/2013
Name: 1206, dtype: object

first_name              bianca
last_name              adhemar
race          African-American
score                        5
Name: 1206, dtype: object

first_name              briana
last_name              adhemar
race          African-American
score                        4
Name: 3519, dtype: object

first_name     samantha
last_name       zachary
race          Caucasian
score                 5
Name: 7986, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   27
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   11/4/2014
screening_date                 11/5/2014
Name: 1379, dtype: object

first_name    ricardo
last_name      notise
race            Other
score               2
Name: 1379, dtype: object

first_name              romone
last_name                 gray
race          African-American
score                        2
Name: 4442, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   44
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   11/1/2014
screening_date                 11/2/2014
Name: 1460, dtype: object

first_name      matthew
last_name        sliker
race          Caucasian
score                 1
Name: 1460, dtype: object

first_name       angela
last_name        caruso
race          Caucasian
score                 1
Name: 4928, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   45
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/11/2014
screening_date                 3/12/2014
Name: 1539, dtype: object

first_name      sam
last_name        wu
race          Other
score             1
Name: 1539, dtype: object

first_name     mitton
last_name     dolcine
race            Other
score               1
Name: 8751, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       22
sex                                                   Female
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                        5/1/2014
screening_date                                      5/2/2014
Name: 1737, dtype: object

first_name               diana
last_name              loubeau
race          African-American
score                        3
Name: 377, dtype: object

first_name            mirelene
last_name            cherfrere
race          African-American
score                        4
Name: 1737, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   63
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   12/6/2014
screening_date                 12/7/2014
Name: 2016, dtype: object

first_name          barrington
last_name             figueroa
race          African-American
score                        1
Name: 32, dtype: object

first_name    terrence
last_name          hew
race             Other
score                1
Name: 2016, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    40
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   10/25/2014
screening_date                 10/26/2014
Name: 2702, dtype: object

first_name             everett
last_name         jeanbaptiste
race          African-American
score                        1
Name: 2702, dtype: object

first_name       dave
last_name     jackson
race            Other
score               1
Name: 3366, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   44
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   6/16/2014
screening_date                 6/17/2014
Name: 2704, dtype: object

first_name            clifford
last_name               walker
race          African-American
score                        1
Name: 2704, dtype: object

first_name              martin
last_name              edwards
race          African-American
score                        1
Name: 4300, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       21
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       7/12/2013
screening_date                                     7/15/2013
Name: 3212, dtype: object

first_name             matthew
last_name               george
race          African-American
score                        4
Name: 3212, dtype: object

first_name     wilkins
last_name       robles
race          Hispanic
score                5
Name: 3507, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    40
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   10/25/2014
screening_date                 10/26/2014
Name: 3366, dtype: object

first_name             everett
last_name         jeanbaptiste
race          African-American
score                        1
Name: 2702, dtype: object

first_name       dave
last_name     jackson
race            Other
score               1
Name: 3366, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       21
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       7/12/2013
screening_date                                     7/15/2013
Name: 3507, dtype: object

first_name             matthew
last_name               george
race          African-American
score                        4
Name: 3212, dtype: object

first_name     wilkins
last_name       robles
race          Hispanic
score                5
Name: 3507, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    21
sex                                Female
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/26/2013
screening_date                 12/27/2013
Name: 3519, dtype: object

first_name              bianca
last_name              adhemar
race          African-American
score                        5
Name: 1206, dtype: object

first_name              briana
last_name              adhemar
race          African-American
score                        4
Name: 3519, dtype: object

first_name     samantha
last_name       zachary
race          Caucasian
score                 5
Name: 7986, dtype: object

------------------
charge_description                Battery
priors_count                            1
age                                    35
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/16/2014
screening_date                 12/17/2014
Name: 4298, dtype: object

first_name       howard
last_name         frank
race          Caucasian
score                 2
Name: 4298, dtype: object

first_name        andre
last_name     petitisse
race              Other
score                 1
Name: 7883, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   44
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   6/16/2014
screening_date                 6/17/2014
Name: 4300, dtype: object

first_name            clifford
last_name               walker
race          African-American
score                        1
Name: 2704, dtype: object

first_name              martin
last_name              edwards
race          African-American
score                        1
Name: 4300, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   27
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   11/4/2014
screening_date                 11/5/2014
Name: 4442, dtype: object

first_name    ricardo
last_name      notise
race            Other
score               2
Name: 1379, dtype: object

first_name              romone
last_name                 gray
race          African-American
score                        2
Name: 4442, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   44
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   11/1/2014
screening_date                 11/2/2014
Name: 4928, dtype: object

first_name      matthew
last_name        sliker
race          Caucasian
score                 1
Name: 1460, dtype: object

first_name       angela
last_name        caruso
race          Caucasian
score                 1
Name: 4928, dtype: object

------------------
charge_description             Grand Theft (Motor Vehicle)
priors_count                                             0
age                                                     21
sex                                                   Male
charge_degree                                            F
juvenile_felony_count                                    0
juvenile_misdemeanors_count                              0
juvenile_other_count                                     0
offense_date                                     7/22/2014
screening_date                                   7/23/2014
Name: 5969, dtype: object

first_name      brandyn
last_name      martinez
race          Caucasian
score                 4
Name: 5969, dtype: object

first_name         luis
last_name        lozada
race          Caucasian
score                 4
Name: 6038, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   33
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/11/2013
screening_date                 3/12/2013
Name: 6009, dtype: object

first_name        alan
last_name        burga
race          Hispanic
score                1
Name: 6009, dtype: object

first_name    willy
last_name      jean
race          Other
score             1
Name: 6961, dtype: object

------------------
charge_description             Grand Theft (Motor Vehicle)
priors_count                                             0
age                                                     21
sex                                                   Male
charge_degree                                            F
juvenile_felony_count                                    0
juvenile_misdemeanors_count                              0
juvenile_other_count                                     0
offense_date                                     7/22/2014
screening_date                                   7/23/2014
Name: 6038, dtype: object

first_name      brandyn
last_name      martinez
race          Caucasian
score                 4
Name: 5969, dtype: object

first_name         luis
last_name        lozada
race          Caucasian
score                 4
Name: 6038, dtype: object

------------------
charge_description               Battery
priors_count                           1
age                                   30
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/18/2013
screening_date                 3/19/2013
Name: 6406, dtype: object

first_name             anthony
last_name                louis
race          African-American
score                        1
Name: 507, dtype: object

first_name             michael
last_name             mitchell
race          African-American
score                        2
Name: 6406, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   30
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/30/2014
screening_date                 3/31/2014
Name: 6565, dtype: object

first_name               raoul
last_name                emile
race          African-American
score                        1
Name: 6565, dtype: object

first_name         christopher
last_name               jordan
race          African-American
score                        1
Name: 7824, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    46
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/30/2013
screening_date                 12/31/2013
Name: 6743, dtype: object

first_name       trevor
last_name      grosholz
race          Caucasian
score                 1
Name: 6743, dtype: object

first_name              sidney
last_name                moody
race          African-American
score                        1
Name: 7408, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       26
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       8/25/2013
screening_date                                     8/26/2013
Name: 6893, dtype: object

first_name                eric
last_name             mckenzie
race          African-American
score                        9
Name: 6893, dtype: object

first_name               ana
last_name     olivaconsuegra
race                Hispanic
score                      6
Name: 7453, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   33
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/11/2013
screening_date                 3/12/2013
Name: 6961, dtype: object

first_name        alan
last_name        burga
race          Hispanic
score                1
Name: 6009, dtype: object

first_name    willy
last_name      jean
race          Other
score             1
Name: 6961, dtype: object

------------------
charge_description             Felony Battery (Dom Strang)
priors_count                                             0
age                                                     24
sex                                                   Male
charge_degree                                            F
juvenile_felony_count                                    0
juvenile_misdemeanors_count                              0
juvenile_other_count                                     0
offense_date                                    12/15/2014
screening_date                                  12/16/2014
Name: 7211, dtype: object

first_name    nigel
last_name     brown
race          Other
score             2
Name: 375, dtype: object

first_name    kavair
last_name     guyher
race           Other
score              2
Name: 7211, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       20
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       1/10/2014
screening_date                                     1/11/2014
Name: 7298, dtype: object

first_name                iron
last_name               holder
race          African-American
score                        9
Name: 374, dtype: object

first_name             terrell
last_name               comete
race          African-American
score                        3
Name: 7298, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    46
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/30/2013
screening_date                 12/31/2013
Name: 7408, dtype: object

first_name       trevor
last_name      grosholz
race          Caucasian
score                 1
Name: 6743, dtype: object

first_name              sidney
last_name                moody
race          African-American
score                        1
Name: 7408, dtype: object

------------------
charge_description             Grand Theft in the 3rd Degree
priors_count                                               0
age                                                       26
sex                                                     Male
charge_degree                                              F
juvenile_felony_count                                      0
juvenile_misdemeanors_count                                0
juvenile_other_count                                       0
offense_date                                       8/25/2013
screening_date                                     8/26/2013
Name: 7453, dtype: object

first_name                eric
last_name             mckenzie
race          African-American
score                        9
Name: 6893, dtype: object

first_name               ana
last_name     olivaconsuegra
race                Hispanic
score                      6
Name: 7453, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   30
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/30/2014
screening_date                 3/31/2014
Name: 7824, dtype: object

first_name               raoul
last_name                emile
race          African-American
score                        1
Name: 6565, dtype: object

first_name         christopher
last_name               jordan
race          African-American
score                        1
Name: 7824, dtype: object

------------------
charge_description                Battery
priors_count                            1
age                                    35
sex                                  Male
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/16/2014
screening_date                 12/17/2014
Name: 7883, dtype: object

first_name       howard
last_name         frank
race          Caucasian
score                 2
Name: 4298, dtype: object

first_name        andre
last_name     petitisse
race              Other
score                 1
Name: 7883, dtype: object

------------------
charge_description                Battery
priors_count                            0
age                                    21
sex                                Female
charge_degree                           M
juvenile_felony_count                   0
juvenile_misdemeanors_count             0
juvenile_other_count                    0
offense_date                   12/26/2013
screening_date                 12/27/2013
Name: 7986, dtype: object

first_name              bianca
last_name              adhemar
race          African-American
score                        5
Name: 1206, dtype: object

first_name              briana
last_name              adhemar
race          African-American
score                        4
Name: 3519, dtype: object

first_name     samantha
last_name       zachary
race          Caucasian
score                 5

Name: 7986, dtype: object

------------------
charge_description               Battery
priors_count                           0
age                                   45
sex                                 Male
charge_degree                          M
juvenile_felony_count                  0
juvenile_misdemeanors_count            0
juvenile_other_count                   0
offense_date                   3/11/2014
screening_date                 3/12/2014
Name: 8751, dtype: object

first_name      sam
last_name        wu
race          Other
score             1
Name: 1539, dtype: object

first_name     mitton
last_name     dolcine
race            Other
score               1
Name: 8751, dtype: object